<div class="parent" fxLayout="column" fxLayoutAlign="center center">
    <div class="child" fxLayout="column" fxLayoutAlign="center center">
        <div class="child1" fxLayout="column" fxLayoutAlign="space-between start">
            <h1>General Online Assessment</h1>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="input-data">
                <h2>Register here...</h2>
                <div class="form-data" fxLayout="row" fxLayoutAlign="space-around center">
                    Username:
                    <mat-form-field appearance="outline">
                        <mat-label></mat-label>
                        <input type="text" formControlName="username">
                        <mat-error>Enter your Username</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-data" fxLayout="row" fxLayoutAlign="space-around center">
                    Name:
                    <mat-form-field appearance="outline">
                        <mat-label></mat-label>
                        <input type="text" formControlName="name">
                        <mat-error>Enter your Name</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-data" fxLayout="row" fxLayoutAlign="space-around center">
                    Email:
                    <mat-form-field appearance="outline">
                        <mat-label></mat-label>
                        <input type="email" formControlName="email">
                        <mat-error>Enter your Email</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-data" fxLayout="row" fxLayoutAlign="space-around center">
                    Password:
                    <mat-form-field appearance="outline">
                        <mat-label></mat-label>
                        <input type="password" formControlName="pass">
                        <mat-error>Enter your password</mat-error>
                    </mat-form-field>
                </div>
                <br>
                <div class="form-data" fxLayout="row" fxLayoutAlign="space-between center">
                    <button mat-raised-button class="buttonclass">Register</button>
                    <button mat-raised-button class="buttonclass">Cancel</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>