<div class="parent">
    <div class="child">
        <div>
            <div class="card text-center p-5 ">
                <div class="card-title">
                    <h1>Welcome to the Online Assessment...</h1>
                </div><br>
                <div class="card-body">
                    <h2>Instructions:</h2>
                    1) This Online Assessment simulates a real online certification exams. <br>
                    2) You will be presented Multiple Choice Questions (MCQs) based on general Concepts, where you will be given four options. <br>
                    3) You will select the best suitable answer for the question and then proceed to the next question without wasting given time. <br>
                    4) You will get your online test score after finishing the complete test.
                    <!-- <button mat-raised-button (click)="gotoCourses()"> -->
                    
                </div>
               
            </div>
            <button mat-stroked-button class="buttonclass">Enter the Exam...</button>
        </div>
    </div>
</div>