<div class="parent" fxLayout="row" fxLayoutAlign="space-around center">
    <div class="child" fxLayout="column" fxLayoutAlign="space-around start">
        <div class="headtitle">
            <h1>Online Assessment begins...</h1>
        </div>
        <div class="childbody">
            <div>
                <h2>Choose the correct answer:</h2>
                <div class="qbody">
                    
                    <div>
                        Q.1) What is the color of sky?
                        <mat-radio-group aria-label="Select an option"><br>
                            <mat-radio-button value="1">Option 1</mat-radio-button>
                            <mat-radio-button value="2">Option 2</mat-radio-button>
                            <mat-radio-button value="3">Option 3</mat-radio-button>
                            <mat-radio-button value="4">Option 4</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div>
                        Q.2) What is the color of sky?
                        <mat-radio-group aria-label="Select an option"><br>
                            <mat-radio-button value="1">Option 1</mat-radio-button>
                            <mat-radio-button value="2">Option 2</mat-radio-button>
                            <mat-radio-button value="1">Option 3</mat-radio-button>
                            <mat-radio-button value="2">Option 4</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div>
                        Q.3) What is the color of sky?
                        <mat-radio-group aria-label="Select an option"><br>
                            <mat-radio-button value="1">Option 1</mat-radio-button>
                            <mat-radio-button value="2">Option 2</mat-radio-button>
                            <mat-radio-button value="1">Option 3</mat-radio-button>
                            <mat-radio-button value="2">Option 4</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div>
                        Q.4) What is the color of sky?
                        <mat-radio-group aria-label="Select an option"><br>
                            <mat-radio-button value="1">Option 1</mat-radio-button>
                            <mat-radio-button value="2">Option 2</mat-radio-button>
                            <mat-radio-button value="1">Option 3</mat-radio-button>
                            <mat-radio-button value="2">Option 4</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div>
                        Q.5) What is the color of sky?
                        <mat-radio-group aria-label="Select an option"><br>
                            <mat-radio-button value="1">Option 1</mat-radio-button>
                            <mat-radio-button value="2">Option 2</mat-radio-button>
                            <mat-radio-button value="1">Option 3</mat-radio-button>
                            <mat-radio-button value="2">Option 4</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    
                </div>
               
            </div>
            
            <div>
                <button mat-stroked-button class="buttonclass">Back</button>
                <button mat-stroked-button class="buttonclass">Reset</button>
                <button mat-stroked-button class="buttonclass">Submit</button>
            </div>
            
        </div>
    </div>
</div>